<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
import random
numbers=random.sample(range(1,101),12)
ascending_order=sorted(numbers)
descending_order=sorted(numbers,reverse=True)
print(numbers)
print(ascending_order)
print(descending_order)
print("Average is",sum(numbers)/len(numbers))

[14, 33, 84, 17, 58, 76, 88, 93, 21, 11, 85, 31]
[11, 14, 17, 21, 31, 33, 58, 76, 84, 85, 88, 93]
[93, 88, 85, 84, 76, 58, 33, 31, 21, 17, 14, 11]
Average is 50.916666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
sentence_1=input()
sentence_2=input()
list_1=sentence_1.split()
print(list_1)
list_2=sentence_2.split()
print(list_2)
print(list(set(list_1).intersection(list_2)))
p_list=[',','.']
for i in sentence_1:
  if i in p_list:
    sentence_1=sentence_1.replace(i,'')
print(sentence_1)
for i in sentence_2:
  if i in p_list:
    sentence_2=sentence_2.replace(i,'')
print(sentence_2)
vowel = ['a','e','i','o','u']
count={}.fromkeys(vowel,0)
for letter in sentence_1:
  if letter in vowel:
    count[letter] += 1
print(count)
for letter in sentence_2:
  if letter in vowel:
    count[letter] += 1
print(count)

I texted my friend , she did not reply me.
she did not reply him , i think she is busy.
['I', 'texted', 'my', 'friend', ',', 'she', 'did', 'not', 'reply', 'me.']
['she', 'did', 'not', 'reply', 'him', ',', 'i', 'think', 'she', 'is', 'busy.']
['she', 'reply', 'not', 'did', ',']
I texted my friend  she did not reply me
she did not reply him  i think she is busy
{'a': 0, 'e': 6, 'i': 2, 'o': 1, 'u': 0}
{'a': 0, 'e': 9, 'i': 7, 'o': 2, 'u': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [2]:
import math
def sphere_volume(r):
  return (4/3)*math.pi*(r**3)
for r in range(1,11):
  print("radius:",r,"volume:",sphere_volume(r))

radius: 1 volume: 4.1887902047863905
radius: 2 volume: 33.510321638291124
radius: 3 volume: 113.09733552923254
radius: 4 volume: 268.082573106329
radius: 5 volume: 523.5987755982989
radius: 6 volume: 904.7786842338603
radius: 7 volume: 1436.7550402417319
radius: 8 volume: 2144.660584850632
radius: 9 volume: 3053.6280592892786
radius: 10 volume: 4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [3]:
from google.colab import drive
drive.mount('/content/drive')
path= '/content/drive/My Drive/Assignment1_denton_housing.csv'

Mounted at /content/drive

In [4]:
import pandas as pd
data=pd.read_csv('/content/drive/My Drive/Assignment1_denton_housing.csv')
data

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [5]:
a={}
for j in sorted(list(set(data['year'])))[:-1]:
  p = 0
  n = 0
  for col, row in data.iterrows():
    if row['year'] == j and row['title_field'] == 'Occupied Housing Units':
      p += row['value']
    if row['year'] == j+1 and row['title_field'] == 'Occupied Housing Units':
      n += row['value']
  a[str(j)+'-'+str(j+1)] = abs(p - n)
  sorted_values=sorted(a.values())
sorted_dict={}
for i in sorted_values:
  for k in a.keys():
    if(a[k]==i):
      sorted_dict[k]=a[k]
for key,value in sorted_dict.items():
  print(key,":",value)

2010-2011 : 303
2008-2009 : 795
2011-2012 : 1404
2012-2013 : 1565
2013-2014 : 2622
2009-2010 : 5091

In [6]:
for j in sorted(list(set(data['year']))):
  t = 0
  h= 0
  v = 0
  year = 0
  for col, row in data.iterrows():
    if row['year'] == j and row['title_field'] == 'Total Housing Units' :
      year = row['year']
      t = row['value']
    if row['year'] == j and  row['title_field'] == 'Occupied Housing Units' :
      h = row['value']
    if row['year'] == j and  row['title_field'] == 'Vacant Housing Units' :
      v = row['value']
  h_u = int((h / t) * 100)
  h_v = int((v / t) * 100)
  print(year," ",str(h_v)+'%'," ",str(h_u)+'%')

2008   10%   89%
2009   9%   90%
2010   8%   91%
2011   9%   90%
2012   6%   93%
2013   8%   91%
2014   5%   94%

In [7]:
max_n=0
max_v=0
year_n=0
year_v=0
for j in sorted(list(set(data['year']))):
 for col,row in data.iterrows():
    if row['year'] == j and  row['title_field'] == 'Occupied Housing Units' :
      if row['value']>max_n:
        max_n=row['value']
        year_n=row['year']
    if row['year'] == j and  row['title_field'] == 'Vacant Housing Units' :
      if row['value']>max_v:
        max_v=row['value']
        year_v=row['year']

In [8]:
total_housing = list()
for col, row in data.iterrows():
  if row['title_field'] == 'Total Housing Units':
    total_housing.append(row['value'])

In [9]:
total = len(total_housing)
v = 0
for i in total_housing:
  v += (1/i)
print(total/v)

44398.28543969185