<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
def len(str):
  count = 0
  for i in str:
    count +=1
  return count
str="shruthi"
print(len(str))

7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def count(string):
  count = {}
  for i in string:
    if i not in count:
      count[i] = 1
    else:
      count[i] += 1
  return count

count("saishruthi")

{'s': 2, 'a': 1, 'i': 2, 'h': 2, 'r': 1, 'u': 1, 't': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
def sum_of_items(l):
  initial = 0
  for val in l:
    initial = initial + val
  return(initial)
list = [1,2,3,4,5]
print(sum_of_items(list))

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
def get_sample(str1):
  letter = str1[0]
  length=len(str1)
  str1=str1.replace(letter, '$')
  str1=letter + str1[1:]
  return str1
print(get_sample("saishruthi"))

sai$hruthi

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
a=8
b=9
S=3.14*(1+a/b)**3
print(S)

21.161618655692727

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3):
  dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
tuple=('s','h','r','u','t','h','i')
print('r' in tuple)
print(1 in tuple)

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [7]:
set={1,2,3,4,5}
print(set)
A=max(set)
B=min(set)
print("maximum in set is",A)
print("minimum in set is",B)

{1, 2, 3, 4, 5}
maximum in set is 5
minimum in set is 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
list_1=[]
size=5
for s in range(0,len(student_list),size):
  list_1.append(student_list[s:s+size])
print(list_1)

[['ja0964', 'sa1198', 'sb1357', 'vb0218', 'sc1229'], ['kg0569', 'kg0470', 'sg1297', 'bg0320', 'fh0141'], ['jl1252', 'sk1386', 'ak0956', 'sk1390', 'sk1458'], ['sk1313', 'ak0934', 'vm0377', 'nm0618', 'sm1640'], ['sm1907', 'gn0108', 'pr0353', 'dr0609', 'ms1500'], ['aos0040', 'ds0814', 'av0659', 'nv0234', 'hy0232']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [18]:
arr = [1,2,3,4,5,1,2,3]

if len(set(arr)) == len(arr):
  print(-1)
else:
  for a in set(arr):
    if arr.count(a) > 1:
      print(a)

1
2
3

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
from datetime import date, timedelta

def sundays(year):
       dt1 = date(year, 1, 1)    
       dt1 += timedelta(days = 6 - dt1.weekday())  
       while dt1.year == year:
          yield dt1
          dt1 += timedelta(days = 7)
          
for s in sundays(2020):
   print(s)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27

In [4]:
import numpy as np
year = input()
s_count = np.busday_count(year, str(int(year)+1),weekmask='Sun')
print('number of sundays in the year {0} are {1}'.format(year,s_count))

2020
number of sundays in the year 2020 are 52